Hiro
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2em;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

th, td {
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
}

.B, .I, .N, .G, .O {
  font-weight: bold;
  font-size: 1.5em;
  background-color: #f0f0f0;
}